# 10.05 ~ 10.09 과제
### 1. 2015 ~ 2022 페런트레이스 결과 도출
- SSG wire to wire 우승 분석하기 위해서 반드시 필요함
- 역대 다른 우승팀들의 우승과정은 어떠했는지 대조하면서 분석할 예정임.
- 2015년으로 잡은 이유: 10구단 창단 후 일정 변화가 잦았기도 했고, 무엇보다 경기수가 10개 구단을 기점으로 144경기로 고정하여 진행되었기 때문에 2015년으로 잡기로 함
### 2. 2022 시즌 SSG 선수들의 일자별 경기 결과 도출하기
- 구체적일수록 좋음
- 구체적인 것의 기준이, 타석, 결과, 당시 상황(1사 1,2루였다 혹은 2사 만루였다 이런 식으로)을 설명할 수 있는 데이터를 얻어낼 것

## 1. 2015 ~ 2022 페런트레이스 결과 도출
- 고민거리: 개막일정을 리스트로 적어놓는게 맞나? 아니면 개막전이라는 걸 확인시킬 다른 방법이 없는건가?

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from IPython.core.display_functions import display

In [4]:
year_list = [int(year) for year in range(2015, 2023)]
month_list = [int(month) for month in range(3, 12)]
open_race = {
    2015:(3, 28),
    2016:(4,1),
    2017:(3,31),
    2018:(3,24),
    2019:(3,23),
    2020:(5,5),
    2021:(4,3),
    2022:(4,2)
}

In [15]:
df = pd.read_html("https://sports.news.naver.com/kbaseball/schedule/index?month=03&year=2015")
for i in range(1, len(df)-1):
    if i >= open_race[2015][1]: #i가 일자로 남게 됨. 그래서 이걸 기준으로 구분하면 충분히 가능할 것으로 보임
        display(df[i])

          0      1             2   3                         4   5   6
0  3.28 (토)  14:00   한화  4:5  넥센 NaN               MBC SPORTS+  목동 NaN
1  3.28 (토)  14:00  kt  9:12  롯데 NaN  KBS N SPORTS, SKY SPORTS  사직 NaN
2  3.28 (토)  14:00  LG  1:3  KIA NaN                   KBS 2TV  광주 NaN
3  3.28 (토)  14:00   NC  4:9  두산 NaN        SBS SPORTS, SPOTV+  잠실 NaN
4  3.28 (토)  14:00   SK  1:6  삼성 NaN                    MBC TV  대구 NaN

          0      1             2   3             4   5   6
0  3.29 (일)  14:00   한화  5:3  넥센 NaN    SKY SPORTS  목동 NaN
1  3.29 (일)  14:00   kt  4:5  롯데 NaN    SBS SPORTS  사직 NaN
2  3.29 (일)  14:00  LG  6:7  KIA NaN   MBC SPORTS+  광주 NaN
3  3.29 (일)  14:00   NC  1:4  두산 NaN        SPOTV+  잠실 NaN
4  3.29 (일)  14:00   SK  7:3  삼성 NaN  KBS N SPORTS  대구 NaN

          0  1               2
0  3.30 (월)  -  프로야구 경기가 없습니다.

,0,1,2,3,4,5,6
0,3.31 (화),18:30,KIA VS SK 경기취소,해당 경기는 현지 사정으로 취소되었습니다.,해당 경기는 현지 사정으로 취소되었습니다.,문학,NaN
1,3.31 (화),18:30,롯데 7:1 LG,NaN,MBC SPORTS+,잠실,NaN
2,3.31 (화),18:30,두산 VS 한화 경기취소,해당 경기는 현지 사정으로 취소되었습니다.,해당 경기는 현지 사정으로 취소되었습니다.,대전,NaN
3,3.31 (화),18:30,삼성 8:6 kt,NaN,SKY SPORTS,수원,NaN
4,3.31 (화),18:30,넥센 VS NC 경기취소,해당 경기는 현지 사정으로 취소되었습니다.,해당 경기는 현지 사정으로 취소되었습니다.,마산,NaN